<h2>Education</h2>
{{ range $.Site.Data.education.credentials }}
  <div class="education">
    <h4>{{ .credential }}</h4>
    <div class="row">
      <div class="col-8">
        <ul class="styless-list">
          <li>{{ .institution }}</li>
          <li>{{ .acquired }}</li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="styless-list">
          <li>GPA: {{ .gpa }}</li>
        </ul>
      </div>
    </div>
  </div>
{{ end }}
<h3>Notable Coursework</h3>
<dl>
{{ range $.Site.Data.education.courses }}
<dt>{{ .name }}</dt>
<dd>{{ .description }}</dd>
{{ end }}
</dl>

<h3>Achieved Certifications</h3>
<dl>
{{ range $.Site.Data.education.certifications }}
<dt>{{ .name }}</dt>
<dd>{{ .description }}</dd>
{{ end }}
</dl>
